.nav-bar {
  max-width: 500px;
  border-bottom: 2px solid #9AA7AD;
  padding: 0 0 30px;
  width: 100vw;
}

.nav-bar__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 26px 0 3px;
}

@media screen and (max-width: 1500px) {
  .nav-bar {
    width: auto;
  }
}

@media screen and (max-width: 1480px) {
  .nav-bar {
    max-width: 916px;
    border-bottom: none;
    padding-bottom: 34px;
    margin: auto;
  }
}
