.slider {
  display: flex;
  flex-direction: column;
  max-width: 881px;
  max-height: 763px;
  width: 100vw;
  gap: 35px;
}

.slider__image {
  width: 876px;
  height: 719px;
  border-radius: 16px;
  object-position: top;
  object-fit: cover;
}

.slider__segments {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider__segment {
  width: 140px;
  height: 4px;
  background-color: #ccc;
  cursor: pointer;
}

.slider__segment.active {
  background: #010C13;
}

@media screen and (max-width: 1020px) {
  .slider {
    width: auto;
    max-width: 357px;
    align-self: center;
  }

  .slider__image {
    width: 357px;
    height: 315px;
  }
}
